<?xml version="1.0" encoding="utf-8" ?>
<!--configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gartenausgaben.Properties.Settings.GartenProjekteConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Datenbank\GartenProjekte.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>-->

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="Gartenausgaben.Properties.Settings.GartenDB"
     providerName="Microsoft.Data.SqlClient"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Daniel\Desktop\Gartenprojekte\Datenbank\Datenbank_Gartenprojekte.mdf;Integrated Security=True;Connect Timeout=30" />
    <!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|E:\Daniel\Desktop\Neuer Ordner (3)\Datenbank\GartenProjekte.mdf;Integrated Security=True;Connect Timeout=30"/>   "Data Source=E:\Daniel\Desktop\Neuer Ordner (3)\Datenbank\GartenProjekte.mdf;Integrated Security=True;Connect Timeout=30"  -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>